* {
    margin: 0;
    box-sizing: border-box;
}

.dark {
    background-color: rgb(18, 18, 74);
}

.light {
    background-color: rgb(245, 245, 160);
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
